[submodule "src/themes/nix"]
	path = src/themes/nix
	url = https://github.com/tnwhitwell/hugo-theme-nix
	branch = master
[submodule "src/themes/amp"]
	path = src/themes/amp
	url = https://github.com/tnwhitwell/amp
[submodule "src/themes/cocoa-eh"]
	path = src/themes/cocoa-eh
	url = https://github.com/mtn/cocoa-eh-hugo-theme
